<div class="jumbotron m-0 p-3 rounded-0">
    <h4>Gender</h4>
</div>
<div id="strMessage" class="alert alert-dismissible fade show float-right" style="z-index:999999;" role="alert">
</div>
<div class="mt-2 ml-4">
    <a id="btnAddNew" class="btn btn-dark text-white" data-toggle="modal" data-target="#GenderModal" onclick="clearTextBox();"><i class="fa fa-plus"></i> Add New</a>
</div>

<div class="col-md-12 p-4 w-100">
    <div class="table-responsive" style="height:400px;">
        <table id="tblGender" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="th-sm w-75 sticky-top">
                        Gender
                    </th>
                    <th class="th-sm sticky-top">
                    </th>
                    <th class="th-sm sticky-top">
                    </th>
                </tr>
            </thead>
            <tbody class="w-100"></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="GenderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title float-left" id="myModalLabel">Add Gender</h4>
                <button type="button" class="close float-right" data-dismiss="modal" onclick="clearTextBox();">×</button>
            </div>
            <div class="modal-body">
                <form>
                    @Html.Hidden("Id")
                    <div class="form-group">
                        <input type="text" class="form-control" id="Name" placeholder="Gender" autocomplete="off" maxlength="100" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-dark" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal" onclick="clearTextBox();">Close</button>
            </div>
            <div id="divMsg" class="p-2"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#divMsg").text('');
        FillGender();
    });

    function FillGender() {
        $.ajax({
            url: "/Gender/GetGender",
            type: "GET",
            data: "json",
            success: function (response) {
                var html = ""

                $.each(response, function (key, Item) {
                    html += "<tr>";
                    html += "<td>" + Item.Name + "</td>";
                    html += "<td class='text-center'><a href='#' onclick=getbyID('" + Item.Id + "')><i class='fa fa-edit text-warning'></i></a></td>";
                    html += "<td class='text-center'><a href='#' onclick=Delele('" + Item.Id + "')><i class='fa fa-trash text-danger'></i></a></td>";
                    html += "</tr>";
                });

                $("#tblGender tbody").html(html);
            },
            error: function (response) {
                alert(response.responseText)
            }
        });
    }

    function Validate() {
        if ($("#Name").val() == "") {
            $("#divMsg").text("Please enter Gender name.");
            $("#divMsg").addClass("text-danger");
            return false;
        }

        if ($('#Id').val() != null && $('#Id').val() != "") { /* for Update*/
            if (CheckDataExists("GenderMaster", "Name", $("#Name").val(), " AND Id <> '" + $('#Id').val() + "'")) {
                $("#divMsg").text("Gender name already exists.");
                $("#divMsg").addClass("text-danger");
                return false;
            }
        }
        else { /* for Create*/
            if (CheckDataExists("GenderMaster", "Name", $("#Name").val(), "")) {
                $("#divMsg").text("Gender name already exists.");
                $("#divMsg").addClass("text-danger");
                return false;
            }
        }

        return true;
    }

    function Add() {
        $("#divMsg").text('');

        if (Validate()) {
            $("#strMessage").text('');
            $("#strMessage").fadeIn();

            var model = {
                Id: $('#Id').val(),
                Name: $('#Name').val()
            };

            $.ajax({
                url: "/Gender/Add",
                data: JSON.stringify(model),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    FillGender();
                    $('#GenderModal').modal('hide');
                    if (parseInt(result) > 0) {
                        $("#strMessage").text($("#Name").val() + " successfully created.");
                        $("#strMessage").addClass("alert-success");
                        $("#strMessage").fadeOut(3000);
                    }
                    else {
                        $("#strMessage").text($("#Name").val() + " can't created.");
                        $("#strMessage").addClass("alert-danger");
                        $("#strMessage").fadeOut(3000);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    function getbyID(EmpID) {
        $.ajax({
            url: "/Gender/getbyID/" + EmpID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#GenderModal').modal('show');
                $('#Id').val(result.Id);
                $('#Name').val(result.Name);
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    function Update() {
        $("#divMsg").text('');
        $("#strMessage").text('');
        $("#strMessage").fadeIn();

        if (Validate()) {
            var empObj = {
                Id: $('#Id').val(),
                Name: $('#Name').val()
            };
            $.ajax({
                url: "/Gender/Update",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    FillGender();
                    $('#GenderModal').modal('hide');
                    if (parseInt(result) > 0) {
                        $("#strMessage").text($("#Name").val() + " successfully updated.");
                        $("#strMessage").addClass("alert-success");
                        $("#strMessage").fadeOut(3000);
                    }
                    else {
                        $("#strMessage").text($("#Name").val() + " can't updated.");
                        $("#strMessage").addClass("alert-danger");
                        $("#strMessage").fadeOut(3000);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    //function for deleting Gender's record
    function Delele(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");

        if (ans) {
            $("#strMessage").text('');
            $("#strMessage").fadeIn();

            $.ajax({
                url: "/Gender/Delete/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    FillGender();
                    if (parseInt(result) > 0) {
                        $("#strMessage").text($("#Name").val() + " successfully deleted.");
                        $("#strMessage").addClass("alert-success");
                        $("#strMessage").fadeOut(3000);
                    }
                    else {
                        $("#strMessage").text($("#Name").val() + " can't deleted.");
                        $("#strMessage").addClass("alert-danger");
                        $("#strMessage").fadeOut(3000);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    function clearTextBox() {
        $("#divMsg").text('');
        $('#Id').val("");
        $('#Name').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
    }
</script>